<div class="mt-4">
  <table class="table-auto w-full text-left border-collapse">
    <thead class="">
      <tr class="p-3 bg-black text-white">
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-gray-100 p-1 hover:bg-gray-200 cursor-pointer"
        *ngFor="let emp of employees"
      >
        <td>{{ emp.firstname }}</td>
        <td>{{ emp.lastname }}</td>
        <td>{{ emp.age }}</td>
        <td class="flex items-center justify-evenly space-x-2 p-2">
          <button class="bg-blue-500 w-24 text-white p-1 rounded">Edit</button>
          <button
            (click)="handleDelete(emp)"
            class="bg-red-500 w-24 text-white p-1 rounded"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
