<div class="row text-center">
  <div (click)="onClick()" class="col-4">
    <div class="text-2xl"><input type="checkbox" /> Terms and condition</div>
    <div *ngIf="isChecked">
      <button
        class="w-[100px] bg-amber-600 text-white rounded-md p-1"
        type="submit"
        (click)="onSumit()"
      >
        submit
      </button>
    </div>
  </div>
  <div class="col-4">
    <div *ngIf="isInput">
      <input
        type="text"
        class="border-amber-500 p-2 outline-blue-400"
        name=""
        id=""
        value="input is here"
      />
    </div>
    <div class="gap-4 flex items-end">
      <button
        class="w-[100px] rounded-md text-white bg-green-600"
        (click)="showContent()"
      >
        show
      </button>
      <button
        class="w-[100px] rounded-md text-white bg-red-600"
        (click)="hideContent()"
      >
        hide
      </button>
    </div>
  </div>
  <div class="col-4"></div>
</div>
